###########################################################################
###########################################################################
#
#    Restaurant local dev configuration file
#
###########################################################################
###########################################################################


# template top-level directory

TEMPLATE_DIRECTORY=src/main/webapp/templates/