<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Favorite restaurants</title>
</head>
<body>
    <form method="post" action="add_restaurant">

        <label>
            New restaurant:
            <input required minlength="1" maxlength="30" type="text" name="restaurant" >
        </label>
        <button type="submit">Add</button>
    </form>

    <ol>
        <li><a href="#">❌</a> Alice's restaurant <a href="#">🡱</a> <a href="#">🡳</a></li>
        <li><a href="#">❌</a>restaurant at the end of the universe <a href="#">🡱</a> <a href="#">🡳</a></li>
    </ol>
</body>
</html>