<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Favorite restaurants</title>
    <link href="/main.css" rel="stylesheet" />
    <meta name="filename" content="index.html" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <form method="post" action="add_restaurant">

        <label>
            New restaurant:
            <input required minlength="1" maxlength="50" type="text" name="restaurant" >
        </label>
        <button type="submit">Add</button>
    </form>

    <ol>
      {{ restaurantsList }}
    </ol>
</body>
</html>