###########################################################################
###########################################################################
#
#    Restaurant local dev configuration file
#
###########################################################################
###########################################################################


# template top-level directory

TEMPLATE_DIRECTORY=templates/